* {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("https://sdmntprpolandcentral.oaiusercontent.com/files/00000000-04cc-620a-83e5-becd3faa9d6a/raw?se=2025-05-03T17%3A33%3A42Z&sp=r&sv=2024-08-04&sr=b&scid=e2ed0df3-9a37-5796-a32a-5d6594a9b128&skoid=54ae6e2b-352e-4235-bc96-afa2512cc978&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-05-03T04%3A14%3A44Z&ske=2025-05-04T04%3A14%3A44Z&sks=b&skv=2024-08-04&sig=62yV7/Dv4p2qsDzEWtLMcFLow3XF0ZR4wxE3CbWuXTo%3D") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-position: center;
}
.container div {
    padding: 15px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.252);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    text-align: center;
    width: 75%;
    display: inline block;
    border: 5px solid rgba(0, 0, 0, 0.252);
    margin-left: 80px;
    
}
.container {
    display: grid;
    /* background-color: red; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 10px auto; 
    width: 100%;
    height: 100%;
    column-gap: 0px;
    justify-content: space-around;
    /* margin-top: 50px; */
}
.container div img {
    width: 100%;
    height: 50%;
    
    
}
.container div:hover {
    background-color: rgba(255, 255, 255, 0.478);
    transition: background-color 0.3s ease;
    color: rgb(191, 43, 14);
}
.container div:hover img {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
/* header {
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 10px; 
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 24px; 
    position:fixed ; 
    top: 0;
    left: 0;
    right: 0; 
    z-index: 1000; 
    height: 50px;
} */